{namespace dragon=Dragontale\CollectRecentEntries\ViewHelpers}
<f:layout name="Default" />

<f:section name="content">
	<f:if condition="{recentEntryCollections}">
		<f:then>
			<f:widget.paginate objects="{recentEntryCollections}" as="paginated" configuration="{itemsPerPage: 3}">
                        <!-- TODO Depends on CSS, e.g. small dimension screens, ... => Use CSS only! Stylesheets are underestimated. -->
				<ol class="tx-collectrecententries-blog-list">
					<f:for each="{paginated}" as="recentEntryCollection">
						<li>
							<h3>
								{recentEntryCollection.title}
							</h3>
							<f:if condition="{recentEntryCollection.content_uids}">
								<f:then>
									<div>reached
									<f:for each="{recentEntryCollection.content_uids}" as="content_uid">
										<div class="tx-collectrecententries-content-wrapper">
										<!--
										UID: {content_uid}
										-->
										<!-- {content} TODO How to trigger show action of content elements? => not possible if no model for content elements is created. Using contentObject instead. See the following view helper: -->
										<dragon:Content uid="{content_uid}" />
										</div>
									</f:for>
									</div>
								</f:then>
							</f:if>

							<f:security.ifHasRole role="{settings.editorUsergroupUid}">
								<div class="tx-collectrecententries-options">
									<f:link.action action="edit" class="icon edit" arguments="{recentEntryCollection: recentEntryCollection}" title="{f:translate(key: 'recentEntryCollection.edit')}"><f:translate key="recentEntryCollection.edit" /></f:link.action>
									<f:link.action action="delete" class="icon delete" arguments="{blog : blog}" title="{f:translate(key: 'recentEntryCollection.delete')}"><f:translate key="recentEntryCollection.delete" /></f:link.action>
								</div>
							</f:security.ifHasRole>
							<p class="tx-collectrecententries-description"><f:format.nl2br>{recentEntryCollection.title}</f:format.nl2br></p>
						</li>
					</f:for>
				</ol>
			</f:widget.paginate>
			<f:security.ifHasRole role="{settings.editorUsergroupUid}">
				<ul class="tx-collectrecententries-linksection">
					<li><f:link.action action="new" class="icon new" title="{f:translate(key: 'recentEntryCollection.createAnother')}"><f:translate key="recentEntryCollection.createAnother">[create another]</f:translate></f:link.action></li>
					<li><f:link.action action="deleteAll" class="icon delete" title="{f:translate(key: 'recentEntryCollection.deleteAll')}" onclick="return confirm(\"{f:translate(key: 'recentEntryCollection.deleteAllConfirmation')}\");"><f:translate key="recentEntryCollection.deleteAll">[delete all recent entry collections]</f:translate></f:link.action></li>
				</ul>
			</f:security.ifHasRole>
		</f:then>


		<f:else>
			<h2><f:translate key="recentEntryCollection.noEntries">[no entries]</f:translate></h2>
			<f:security.ifHasRole role="{settings.editorUsergroupUid}">
				<f:then>
					<ul class="tx-collectrecententries-linksection">
						<li><f:link.action action="new" class="icon new" title="{f:translate(key: 'recentEntryCollection.create')}"><f:translate key="recentEntryCollection.create">[create]</f:translate></f:link.action></li>
						<li><f:link.action action="populate" class="icon populate" title="{f:translate(key: 'recentEntryCollection.createExampleData')}"><f:translate key="recentEntryCollection.createExampleData">[create example data]</f:translate></f:link.action></li>
					</ul>
				</f:then>
				<f:else>
					<p><f:translate key="logInToCreateBlogs" arguments="{editorUserGroupUid: settings.editorUsergroupUid}">[log in to administer]</f:translate></p>
				</f:else>
			</f:security.ifHasRole>
		</f:else>
	</f:if>
</f:section>
