<f:layout name="Default" />

<f:section name="content">
	<h1><f:translate key="recentEntryCollection.header">[header]</f:translate></h1>
	<p><f:translate key="recentEntryCollection.introduction">[introduction]</f:translate></p>
	<f:if condition="{recentEntryCollections}">
		<f:then>
			<h2><f:translate key="recentEntryCollection.list" arguments="{recentEntryCollections_count: '{recentEntryCollections -> f:count()}'}">[list of recent entry collections]</f:translate>:</h2>
			<f:widget.paginate objects="{recent entry collections}" as="paginated" configuration="{itemsPerPage: 3}">
                        <!-- TODO Depends on CSS, e.g. small dimension screens, ... => Use CSS only! Stylesheets are underestimated. -->
				<ol class="tx-collectrecententries-blog-list">
					<f:for each="{paginated}" as="recentEntryCollection">
						<li>
							<h3>
								<f:link.action action="index" controller="TypeToCollect" arguments="{recentEntryCollection : recentEntryCollection}">{recentEntryCollection.title} ({f:translate(key: 'recentEntryCollection.count', arguments: '{count:\'{recentEntryCollection.typesToCollect -> f:count()}\'}')})</f:link.action>
							</h3>
							<f:security.ifHasRole role="{settings.editorUsergroupUid}">
								<div class="tx-collectrecententries-options">
									<f:link.action action="edit" class="icon edit" arguments="{recentEntryCollection : recentEntryCollection}" title="{f:translate(key: 'recentEntryCollection.edit')}"><f:translate key="recentEntryCollection.edit" /></f:link.action>
									<f:link.action action="delete" class="icon delete" arguments="{blog : blog}" title="{f:translate(key: 'recentEntryCollection.delete')}"><f:translate key="recentEntryCollection.delete" /></f:link.action>
								</div>
							</f:security.ifHasRole>
							<p class="tx-collectrecententries-description"><f:format.nl2br>{recentEntryCollection.description}</f:format.nl2br></p>
						</li>
					</f:for>
				</ol>
			</f:widget.paginate>
			<f:security.ifHasRole role="{settings.editorUsergroupUid}">
				<ul class="tx-collectrecententries-linksection">
					<li><f:link.action action="new" class="icon new" title="{f:translate(key: 'recentEntryCollection.createAnother')}"><f:translate key="recentEntryCollection.createAnother">[create another]</f:translate></f:link.action></li>
					<li><f:link.action action="deleteAll" class="icon delete" title="{f:translate(key: 'recentEntryCollection.deleteAll')}" onclick="return confirm(\"{f:translate(key: 'recentEntryCollection.deleteAllConfirmation')}\");"><f:translate key="recentEntryCollection.deleteAll">[delete all recent entry collections]</f:translate></f:link.action></li>
				</ul>
			</f:security.ifHasRole>
		</f:then>


		<f:else>
			<h2><f:translate key="recentEntryCollection.noEntries">[no entries]</f:translate></h2>
			<f:security.ifHasRole role="{settings.editorUsergroupUid}">
				<f:then>
					<ul class="tx-collectrecententries-linksection">
						<li><f:link.action action="new" class="icon new" title="{f:translate(key: 'recentEntryCollection.create')}"><f:translate key="recentEntryCollection.create">[create]</f:translate></f:link.action></li>
						<li><f:link.action action="populate" class="icon populate" title="{f:translate(key: 'recentEntryCollection.createExampleData')}"><f:translate key="recentEntryCollection.createExampleData">[create example data]</f:translate></f:link.action></li>
					</ul>
				</f:then>
				<f:else>
					<p><f:translate key="logInToCreateBlogs" arguments="{editorUserGroupUid: settings.editorUsergroupUid}">[log in to administer]</f:translate></p>
				</f:else>
			</f:security.ifHasRole>
		</f:else>
	</f:if>
</f:section>
