<f:layout name="Default" />

<f:section name="iconButtons">
	<f:be.buttons.icon uri="{f:uri.action(action:'index')}" icon="closedok" title="Cancel" />
	<f:be.buttons.icon uri="javascript: document.recentEntryCollection.submit();" icon="saveandclosedok" title="Save" />
	<f:be.buttons.icon uri="{f:uri.action(action:'delete', arguments:{recentEntryCollection: recentEntryCollection})}" icon="deletedok" title="Delete this recent entry collection." />
</f:section>

<f:section name="content">
	<h2>Edit recent entry collection "{recentEntryCollection.title}"</h2>
	<p class="bodytext">Edit the information below:</p>
	<f:render partial="FormErrors" arguments="{for: 'recentEntryCollection'}" />
	<f:form method="post" action="update" name="recentEntryCollection" object="{recentEntryCollection}">
		<label for="title">Title</label><br />
		<f:form.textbox property="title" /><br />
		<label for="entry_count_max">Maximum entry count</label><br />
		<f:form.textbox property="entry_count_max"/><br />
	</f:form>
</f:section>
