<f:layout name="Default" />

<f:section name="content">
	<f:link.action action="index" arguments="{recentEntryCollection: recentEntryCollection}" class="textIcon cancel" title="{f:translate(key: 'cancel')}"><f:translate key="cancel">[cancel]</f:translate>
	</f:link.action>
	<h1><f:translate key="page.editHeader" arguments="{0: pageToCollectFrom.page}">[edit page]</f:translate></h1>
	<f:render partial="PageToCollectFromForm" arguments="{object: pageToCollectFrom, objectName: 'pageToCollectFrom', action: 'update', pages: pages}" />
</f:section>
