<f:layout name="Default" />

<f:section name="content">
	<h1><f:translate key="pageToCollectFrom.header" arguments="{recentEntryCollectionTitle: recentEntryCollection.title}">[page to collect from header]</f:translate></h1>
	<p><f:translate key="pageToCollectFrom.introduction">[introduction]</f:translate></p>
	<f:if condition="{pageToCollectFrom.page_id}">
		<f:then>
			<p>{pageToCollectFrom.page_id}</p>
			<!--
			<f:for each="{pages}" as="page">
			</f:for>
			-->
		</f:then>
		<f:else>
			<p><f:translate key="noEntries">[no entries]</f:translate></p>
			<f:security.ifHasRole role="{settings.editorUsergroupUid}">
				<ul class="tx-collectrecententries-linksection">
					<li><f:link.action action="new" class="icon new" arguments="{recentEntryCollection: recentEntryCollection}" title="{f:translate(key: 'pageToCollectFrom.create')}"><f:translate key="recentEntryCollection.create">[create]</f:translate></f:link.action></li>
				</ul>
			</f:security.ifHasRole>
		</f:else>
	</f:if>
</f:section>
