{namespace blog=Tx_BlogExample_ViewHelpers}
<f:layout name="Default" />

<f:section name="content">
	<f:link.action action="index" class="textIcon cancel" arguments="{recentEntryCollection: recentEntryCollection}"><f:translate key="back">[back]</f:translate></f:link.action>
	<h1>{typeToCollect.type}</h1>
	<p><f:format.nl2br>{typeToCollect.collection_id}</f:format.nl2br></p>
<!--
	<f:render partial="PostMetaData" arguments="{post: post}"/>
-->

	<f:render partial="Options" arguments="{post: post}"/>
</f:section>
