<f:be.container>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<div class="buttonsleft">
					<f:render section="iconButtons" />
				</div>
				<div class="buttonsright">
					<f:be.buttons.shortcut />
				</div>
			</div>
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="Overview" controller="RecentEntryCollection" action="index" />
						<f:be.menus.actionMenuItem label="Create new recent entry collection." action="new" controller="RecentEntryCollection" />
						<f:if condition="{recentEntryCollection}">
							<f:be.menus.actionMenuItem label="Add new page to collect from." action="new" controller="PageToCollectFrom" arguments="{recentEntryCollection: recentEntryCollection}" />
							<f:be.menus.actionMenuItem label="Add new type to collect." action="new" controller="TypeToCollect" arguments="{recentEntryCollection: recentEntryCollection}" />
						</f:if>
					</f:be.menus.actionMenu>
				</div>
				<div class="docheader-row2-right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages renderMode="div" />
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>
