{namespace recentEntryCollection=Tx_CollectRecentEntries_ViewHelpers}
<f:layout name="Default" />

<f:section name="iconButtons">
	<f:be.buttons.icon uri="{f:uri.action(action:'index', arguments: {typeToCollect : typeToCollect, recentEntryCollection: recentEntryCollection})}" icon="closedok" title="Cancel" />
	<f:be.buttons.icon uri="javascript: document.typeToCollect.submit();" icon="saveandclosedok" title="Save" />
</f:section>

<f:section name="content">
	<h2>Edit criterium page to collect from:</h2>
	<f:render partial="FormErrors" arguments="{for: 'typeToCollect'}" />
	<f:form method="post" controller="TypeToCollect" action="update" name="typeToCollect" object="{typeToCollect}" arguments="{recentEntryCollection : recentEntryCollection}" >
		<label for="collection_id">Collection ID:</label><br />
		<f:form.textbox property="collection_id" /><br />
		<label for="type">Type:</label><br />
		<f:form.textbox property="type" /><br /><br />
	</f:form>
</f:section>
