<f:layout name="Default" />

<f:section name="iconButtons">
	<f:be.buttons.icon uri="{f:uri.action(action:'index', controller:'RecentEntryCollection')}" icon="closedok" title="Show recent entry collections" />
	<f:be.buttons.icon uri="{f:uri.action(action:'new', controller:'TypeToCollect', arguments:{recentEntryCollection: recentEntryCollection})}" icon="new_el" title="Add new type to collect." />

<!--	<f:be.buttons.icon uri="{f:uri.action(action:'show', controller:'', arguments:{recentEntryCollection: recentEntryCollection})}" icon="edit2" title="Edit owning collection (e.g. change entry count maximum limit)" /> not required as the entry count maximum is unrelated to the criteria. -->
</f:section>

<f:section name="content">
	<f:condition 
	<h2>Criteria of collection &quot;{recentEntryCollection.title}&quot;</h2>
	<p class="bodytext">{recentEntryCollection.entry_count_max}</p>
	<div class="tx-collectrecententries-list-container">
		<f:if condition="{recentEntryCollection.typesToCollect}">
			<f:then>
				<ul>
					<f:for each="{recentEntryCollection.typesToCollect}" as="typeToCollect">
						<li>
							<h3>
								<f:link.action action="show" controller="TypeToCollect" arguments="{typeToCollect: typeToCollect, recentEntryRepository: typeToCollect.recentEntryCollection}">
									{post.title}
								</f:link.action>
								<f:be.buttons.icon uri="{f:uri.action(action:'edit', arguments:{post: post, blog: blog})}" icon="edit2" title="Edit this Post" />
							</h3>
							<p class="bodytext"><f:format.crop maxCharacters="100">{post.content}</f:format.crop></p>
						</li>
					</f:for>
				</ul>
				<p><f:link.action arguments="{blog : blog}" format="txt" target="_blank"><strong>Show posts as text</strong> (experimental)</f:link.action></p>
			</f:then>
			<f:else>
				<p>This blog currently doesn't contain any posts.</p>
			</f:else>
		</f:if>
	</div>
</f:section>
