<f:layout name="Default" />

<f:section name="iconButtons">
	<f:be.buttons.icon uri="{f:uri.action(action:'index', arguments:{blog: blog})}" icon="closedok" title="Cancel" />
	<f:be.buttons.icon uri="javascript: document.newPost.submit();" icon="saveandclosedok" title="Save" />
</f:section>

<f:section name="content">
	<h2>Create a new criterium for the recent entry collection &quot;{recentEntryCollection.title}&quot;</h2>
	<f:render partial="FormErrors" arguments="{for: 'typeToCollect'}" />
	<f:form method="post" controller="TypeToCollect" action="create"  name="typeToCollect" object="{typeToCollect}" arguments="{recentEntryCollection: recentEntryCollection}">
		<label for="collection_id">Owning collection <span class="required">(required)</span></label><br />
		<f:form.textbox property="title" /><br />
		<label for="type">Type <span class="required">(required)</span></label><br />
		<f:form.textarea property="content" rows="8" cols="46" /><br /><br />
	</f:form>
</f:section>
